@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

div.pageheader {
    width: 940px;
    margin: 30px auto 0 auto;
}

div.pageheader img.logo {
    width: 80%;
    max-width: 220px;
}

div.body p, div.body dd, div.body li, div.body blockquote {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

div.code-block-caption {
    font-size: inherit;
}

table caption span.caption-number,
div.figure p.caption span.caption-number,
figcaption span.caption-number {
    padding-right: 0.5em;
}

.highlight .w {
    text-decoration: none;
}

div.admonition {
    padding: 10px;
}

div.admonition p.admonition-title {
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
}

div.admonition p.admonition-title + p {
    margin-top: 0.5em;
}

tt, code {
    background-color: inherit;
    padding: 0;
}

table.docutils {
    border: none;;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

table.docutils caption {
    margin-bottom: 10px;
}

table.docutils tr {
    vertical-align: top;
}

table.docutils td, table.docutils th {
    border: none;
    border-bottom: 1px solid #aaa;
}

@media screen and (max-width: 875px) {
    div.pageheader {
        width: 100%;
        margin: 0;
    }
}
